@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #bec3ce;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h4 {
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* counter going out */
.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide .2s ease-out;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
}

/* final coming in */
.final.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show .2s ease-out;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  30% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.numbers {
  color: #bb133e;
  font-size: 60px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 50px;
}

.numbers span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.numbers span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn .5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-20deg);

  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);

  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.numbers span.out {
  animation: goOut .5s ease-in-out;
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(20deg);

  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

/* .go {
  margin: 0;
} */

.replay {
  background-color: #bb133e;
  color: #222;
  border: none;
  border-radius: 5px;
  outline: transparent;
  padding: 5px 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 1px;
  cursor: pointer;
}